.sidebar {
    width: 240px;
    height: 100vh;
    background: #111827;
    color: white;
    position: sticky;
    top: 0;
}

.sidebar-options {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-option:hover {
    background: #1f2937;
}

.sidebar-option.active {
    background: #2563eb;
}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}

@media (max-width:450px) {
    .sidebar-option img{
        width: 17px;
    }
}